.DS_Store

*.log
*.logs

.sass-cache/

node_modules/

# Ignore various IDE project files and folders
.idea/

assets/components/modxminify/cache/*

config.core.php

# Add only ZIP transport packages
_packages/*
!_packages/*.transport.zip
_build/gpm_resolvers/
_build/gpm_scripts/
