.required:before {
    content: "* ";
    color: red;
}

.modxminify-container {
	margin: 20px 15px;
}
.modxminify-content {
	background: #fff;
	padding: 15px;
	margin-top: 18px;
}

.groups-files ul {
	margin: 0;
}
.groups-files ul li .name {
	padding: 8px 8px 8px 0;
	display: inline-block;	
}
ul.groups {
	margin: 20px 0;
}
ul.groups > li {
	/* margin-bottom: 10px; */
}
ul.groups > li > .name {
	font-weight: bold;
	font-size: 16px;
	padding-left: 10px;
	background: #ededed;
	display: block;
}
ul.files {
	border-top: 1px solid #ddd;
}
ul.files li {
	border-bottom: 1px solid #ddd;
}
.handle, .buttons {
	padding: 8px;
	display: inline-block;
}
.handle:hover, .files .name:hover {
	cursor: move;
}
.sortable-ghost {
	background: #f5f5f5;
}

/* modx stuff */
#modx-content {
    overflow-y: auto;
}
#modx-content .x-panel-bwrap {
	display: none;
}