.modxminify-container {
	margin: 20px 15px;
}
.modxminify-container * {
	box-sizing: border-box;
}
.modxminify-content {
	background: #fff;
	padding: 15px;
	margin-top: 18px;
}
.modxminify-content p {
	margin: 10px 0;
}
.groups-files ul {
	margin: 0;
}
.groups-files .name {
	padding: 8px 8px 8px 0;
	display: inline-block;	
}
ul.groups {
	margin: 10px 0;
}
ul.groups > li {
	margin-bottom: 20px;
}
.groups > li > .name {
	font-weight: bold;
	font-size: 16px;
	padding-left: 10px;
	background: #dfdfdf;
	display: block;
}
.files {
	/* border-top: 1px solid #ddd; */
	margin-bottom: 20px;
}
.files li {
	border-bottom: 1px solid #ddd;
}
.files li .name {
}
.handle, .file-actions {
	padding: 6px;
	display: inline-block;
}
.handle:hover, .files .name:hover {
	cursor: move;
}
.file-actions a {
	padding: 0 10px 0 0;
}
.file-actions a:hover {
	color: #222;
}
.sortable-ghost {
	background: #efefef;
}
button {
	background: #3697CD;
	border: 1px solid rgba(0,0,0,0.2);
	padding: 8px 16px;
	margin: 0 5px 0 0;
	color: #fff;
	border-radius: 4px;
	cursor: pointer;
}
button.light {
	background: #efefef;
}
button.danger {
	background: red;
}

a.small {
	font-size: 11px;
}
[data-remove] {
	color: red;
}

/* modal window */
.modal {
    display: none;
    position: fixed; 
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.7);
}
.modal-content {
	position: relative;
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 500px;
    border-radius: 5px;
}
.close {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 20px !important;
    padding: 5px;
    color: #999;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.form-group {
	padding: 5px 0;
	margin-bottom: 10px;
	width: 100%;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
.form-control {
	display: block;
    width: 100%;
    height: 34px;
    padding: 5px 8px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-control:focus {
	border-color: #66afe9;
    outline: 0;
}
textarea.form-control {
	height: auto;
}

.help-block {
	display: block;
    margin: 5px 0;
    color: #888;
}